.container {
    margin: 3%;
}

section {
    margin: 3% 0;

}

.works {
    display: flex;
    justify-content: center;
    padding: 0 5%;
}

.work-description {
    padding: 2%;
}

.box {
    color: rgb(90, 15, 160);
    font-size: xx-large;
}

.box:hover {
    background-color: rgb(94, 32, 113);
    color: aliceblue;
    padding: 5px;
    cursor: pointer;
    transition: 1s;
}

.work-about {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: left;
    padding: 0 2% 0 0;
    font-size: x-large;
}

img {
    height: 100%;
    padding-top: 3%;
}