body{
    font-family: 'Roboto', sans-serif;

}
.navbar{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.nav-item:hover{
    text-decoration: 3px solid underline;

}
a{
    text-decoration: none;
}
h2{
    padding: 2%;
    color: rgb(90, 15, 160);
    
}

#get-in-touch{
    text-decoration: none;
    color: aliceblue;
    background-color: rgba(162, 133, 189, 0.548);
    border-radius: 10px;
    
}
#get-in-touch:hover{
    border: 4px sloid rgb(255, 255, 255);
    box-shadow: 7px 7px rgb(77, 60, 110);
}
